{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Punishment
{% endblock %}

{% block content %}

    <p>
      Please take your decision:
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('input[name=punish_1]').change(function(){

    if (this.value=='True') {
      $('div.field-response_1').show();
      $('label[for=id_response_1]').show();
    }
    else {
      $('div.field-response_1').hide();
      $('label[for=id_response_1]').hide();
      $('input#id_response_1').val();
    }
});


  $('div.field-response_1').hide();
  $('label[for=id_response_1]').hide();
  $('input#id_response_1').val();

</script>


{% endblock %}
